 <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>
      
        <section class="projects">
      
          <ul class="filter-list">
            <li class="filter-item"><button class="active" data-filter-btn>All</button></li>
            <li class="filter-item"><button data-filter-btn>Certifications</button></li>
            <li class="filter-item"><button data-filter-btn>Projects</button></li>
          </ul>
      
          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-selecct-value>Select category</div>
              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
      
            <ul class="select-list">
              <li class="select-item"><button data-select-item>All</button></li>
              <li class="select-item"><button data-select-item>Certifications</button></li>
              <li class="select-item"><button data-select-item>Projects</button></li>
            </ul>
          </div>
      
          <ul class="project-list">
      
            <!-- Projects -->
            <li class="project-item active" data-filter-item data-category="projects">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box"><ion-icon name="eye-outline"></ion-icon></div>
                  <img src="./assets/images/projects/aws_athena_bigdata_project.png" alt="AWS Athena" loading="lazy">
                </figure>
                <h3 class="project-title">AWS Athena Big Data Project for Querying COVID-19 Data</h3>
                <p class="project-category">Projects</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="projects">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box"><ion-icon name="eye-outline"></ion-icon></div>
                  <img src="./assets/images/projects/microservices_architecture.png" alt="Container Orchestration" loading="lazy">
                </figure>
                <h3 class="project-title">Deploying Voting App on Kubernetes</h3>
                <p class="project-category">Projects</p>
              </a>
            </li>

            <!-- Certifications -->
            <li class="project-item active" data-filter-item data-category="certifications">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box"><ion-icon name="eye-outline"></ion-icon></div>
                  <img src="./assets/images/udemy_saa-03_jpg.jpg" alt="AWS Certificate" loading="lazy">
                </figure>
                <h3 class="project-title">Ultimate AWS Certified Solutions Architect Associate 2025</h3>
                <p class="project-category">Certifications</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="certifications">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box"><ion-icon name="eye-outline"></ion-icon></div>
                  <img src="./assets/images/docker.jpg" alt="Docker Lab" loading="lazy">
                </figure>
                <h3 class="project-title">Udemy Labs - Docker SWARM - Hands-on DevOps</h3>
                <p class="project-category">Certifications</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="certifications">
              <a href="#">
                <figure class="project-img">
                  <div class="project-item-icon-box"><ion-icon name="eye-outline"></ion-icon></div>
                  <img src="./assets/images/kubernetes.jpg" alt="Kubernetes Crash Course" loading="lazy">
                </figure>
                <h3 class="project-title">YouTube Labs - Kubernetes Crash Course</h3>
                <p class="project-category">Certifications</p>
              </a>
            </li>
      
          </ul>
      
        </section>
      
      </article>