 <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>
        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <div class="job-header">
                <h4 class="h4 timeline-item-title">Sai Ashirwad Informatia</h4>
                <span class="job-period">May 2024 - March 2025</span>
              </div>
            
              <h6 class="font-normal">Software Developer Associate - Flutter Developer</h6>

              <ul class="timeline-text">
                <li>Developed and maintained responsive mobile apps using Flutter for Android platforms</li>
                <li>Integrated REST APIs and third-party SDKs for enhanced app functionality</li>
                <li>Collaborated with UI/UX designers to implement intuitive user interfaces</li>
                <li>Performed unit testing and debugging to ensure high performance</li>
                <li>Used Git for version control and participated in code reviews</li>
              </ul>

            </li>
            <!-- <li class="timeline-item">
              <div class="job-header">
                <h4 class="h4 timeline-item-title">IDFC First Bank</h4>
                <span class="job-period">March 2023 - August 2023</span>
              </div>
            
              <h6 class="font-normal">Sales Manager - Consumer Durable Loan</h6>
            
              <ul class="timeline-text">
                <li>Developed and maintained responsive mobile apps using Flutter for Android platforms</li>
                <li>Integrated REST APIs and third-party SDKs for enhanced app functionality</li>
                <li>Collaborated with UI/UX designers to implement intuitive user interfaces</li>
                <li>Performed unit testing and debugging to ensure high performance</li>
                <li>Used Git for version control and participated in code reviews</li>
              </ul>
            </li>
             -->
           
          </ol>

        </section>
        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">
              <div class="job-header">
                <h4 class="h4 timeline-item-title">Annasaheb Vartak College</h4>
                <span class="job-period">2021 - 2024</span>
              </div>
              <p class="timeline-text">
                Bachelor of Science, Computer Science<br>
                
              </p>
              <p class="timeline-text">
               8.45 CGPA <br>
              </p>

            </li>

            <li class="timeline-item">
              <div class="job-header">
                <h4 class="h4 timeline-item-title">Vidyavikasini Junior College</h4>
                <span class="job-period">2019 - 2021</span>
              </div>
              <p class="timeline-text">
                Higher Secondary Certificate (HSC)
              </p>
              <p class="timeline-text">
                86.00 %<br>
               </p>
            </li>
            

          </ol>

        </section>

    

        <section class="skill">

          <h3 class="h3 skills-title">My Skills</h3>
        
          <ul class="skills-list content-card">
        
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Linux & Shell Scripting</h5>
                <data value="50">50%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 50%;"></div>
              </div>
            </li>
        
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Docker & Kubernetes</h5>
                <data value="75">75%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 75%;"></div>
              </div>
            </li>
        
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">CI/CD (GitHub Actions)</h5>
                <data value="70">70%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%;"></div>
              </div>
            </li>
        
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">AWS (EC2, S3, IAM)</h5>
                <data value="65">65%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 65%;"></div>
              </div>
            </li>
        
            <li class="skills-item">
              <div class="title-wrapper">
                <h5 class="h5">Cloud Security Fundamentals</h5>
                <data value="40">40%</data>
              </div>
              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 40%;"></div>
              </div>
            </li>
        
          </ul>
        
        </section>
        

      </article>
