 <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/yash_profile2.jpg" alt="Yash Debnath">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Yash Debnath">Yash Debnath</h1>

          <p class="title">Software Developer Engineer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Info</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:ydebnath25@gmail.com" class="contact-link">ydebnath25@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+12133522795" class="contact-link">+91 9764502585  </a>
            </div>

          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Status</p>
              <time datetime="2025-04-24">Actively searching</time>
            </div>
          </li>
          
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="document-outline"></ion-icon> <!-- Better icon for CV -->
            </div>
            <div class="contact-info">
              <p class="contact-title">CV</p>
              <a href="./assets/files/cv.pdf" download class="contact-link">Download CV</a>
            </div>
          </li>
          

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Mumbai, Maharashtra, India</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="https://www.linkedin.com/in/yash-debnath-438321228/" class="social-link" target="_blank">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
          
          <li class="social-item">
            <a href="https://github.com/dyash2" class="social-link" target="_blank">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
          
          <li class="social-item">
            <a href="https://www.reddit.com/user/Wonderful-Ear-5003/" class="social-link" target="_blank">
              <ion-icon name="logo-reddit"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://www.facebook.com/yash.debnath.7?mibextid=rS40aB7S9Ucbxw6v" class="social-link" target="_blank">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://www.instagram.com/yashh.xxv/" class="social-link" target="_blank">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
          

        </ul>

      </div>

    </aside>